.s-controller {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    bottom: 1.5rem;
    width: 100%;
  }
  
  .s-controller__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  
  .s-controller__button:hover {
    transform: scale(1.1);
  }
  
  .s-controller__button:nth-child(2) {
    margin: 0 3.75rem;
  }
  
  .s-controller__button--active {
    background-color: white;
    color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    outline: 0.125rem solid white;
  }
  
  .s-controller__line {
    background-color: white;
    width: 50%;
    height: 2px;
    position: absolute;
  }